.menuItem {
  cursor: pointer;
  border: 1px solid var(--Color-CTA-Secondary-Stroke);
  padding: var(--padding-14);
  background-color: var(--Color-Base-White);
  height: var(--height-48);
  width: var(--width-48);
  box-shadow: var(--Shadows-shadow-xs-skeuomorphic);
  border-radius: var(--br-10);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  isolation: isolate;
  gap: var(--gap-8);
}
.indicator,
.messageSmileSquareIcon {
  height: var(--height-20);
  width: var(--width-20);
  position: relative;
  z-index: 0;
  flex-shrink: 0;
}
.indicator {
  height: var(--height-6);
  width: var(--width-6);
  position: absolute;
  margin: 0 !important;
  top: 11px;
  right: 11px;
  border-radius: var(--br-50);
  background-color: var(--Color-Badge-Alert-Alert-text);
  z-index: 1;
}
